body {
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

.headBanner {
	background-color: #EEE;
	width: 100%;
	margin:0;
	padding: 10px 10px 10px 20px;
}

.headBanner span {
	margin:0 10px 0 0;
}

.headBanner h2 {
	font-style: 18px;
}

.headBanner input {
	border: 1px solid #CCC;
    height: 30px;
    left: 0;
    line-height: 30px;
    margin: 0;
    padding: 5px 10px 5px 10px;
    top: 0;
    width: 255px;
}

.container {
	padding: 25px;
}

.container h3 {
	font-size:16px;
	margin:0 0 10px 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.tableSchedule {
	border: 1px solid #CCC; 
}

.tableSchedule select {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 10px 6px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
}

.tableSchedule .iconResults+select {
	padding-left: 30px;
}

.tableSchedule label.wrap {
    width:150px;
    overflow: hidden;  
    position: relative;
    display: block;
}

.tableSchedule label.wrap:after {
    content:"\f0d7 ";
    font-family: FontAwesome;
    color: #000;
    font-size: 18px;
    position: absolute; 
    right: 6; 
    top: 6px;
    z-index: 1;
    width: 10%;
    height: 100%;  
    pointer-events: none;    
}

.tableSchedule select optgroup{
	color: #000;
	font-size: 14px;
	font-weight: 600;
	font-family: FontAwesome;
	font-style: normal;
}

.tableSchedule select optgroup#math { 
	background-color: #8ed3ff;
}

.tableSchedule select optgroup#math option, .tableSchedule select optgroup#science option { 
	background-color: #FFF;
}

.tableSchedule select optgroup#science { 
	background-color: #ffe682;
}

.tableSchedule>tbody>tr>th {
	background-color: #efefef;
}

.tableSchedule>tbody>tr>td, .tableSchedule>tbody>tr>th {
	border: 1px solid #CCC;
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center;
}

.tableSchedule tr td {
	font-weight: 400;
	font-size: 15px;
}

.tableSchedule .iconResults {
	display: block;
	position: absolute;
	top: 9px;
	margin-left: 8px;
}









